<div id="<%= dom_id actor %>">
  <p>
    <strong>Name:</strong>
    <%= actor.name_id %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= actor.title_id %>
  </p>

  <p>
    <strong>Character:</strong>
    <%= actor.character %>
  </p>

</div>
