<div id="<%= dom_id video %>">
  <p>
    <strong>Video title:</strong>
    <%= video.video_title %>
  </p>

  <p>
    <strong>Youtube link:</strong>
    <%= video.youtube_link %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= video.title_id %>
  </p>

</div>
