<div id="<%= dom_id rating %>">
  <p>
    <strong>User:</strong>
    <%= rating.user_id %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= rating.title_id %>
  </p>

  <p>
    <strong>Rating:</strong>
    <%= rating.rating %>
  </p>

</div>
