<div id="<%= dom_id image %>">
  <p>
    <strong>Img title:</strong>
    <%= image.img_title %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= image.image %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= image.title_id %>
  </p>

</div>
